@font-face {
    font-family: "RocknRollOne";
    src: url("assets/fonts/RocknRollOne-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ReggaeOne";
    src: url("assets/fonts/ReggaeOne-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SherwoodRegular";
    src: url("assets/fonts/SherwoodRegular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: radial-gradient(99% 61.5% at 50% 89%,
    rgba(90, 102, 216, 0.62) 0%, rgba(76, 81, 191, 0) 100%),
    linear-gradient(90deg, #3182e4 0%, #398fdd 14.29%, #419bdb 28.57%,
            #4aa6db 42.86%, #53b1dd 57.14%, #5cbce0 71.43%, #6fd1e8 100%);
    font-family: RocknRollOne, serif;
    color: #ffffff;
    margin: 0;
}

.menu-button ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.main-button {
    border: none;
    background: radial-gradient(rgba(0, 52, 215, 0.7), transparent);
    color: white;
    font-family: ReggaeOne, serif;
    width: 50%;
    height: 50%;
}

.wave-container {
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    top: -60%;
    left: 0.1%;
    z-index: -1;
    width: 200vw; /* Extend width for seamless animation */
    height: 10em;
    rotate: 180deg;
    animation: wave-animation 8s linear infinite;
}

@keyframes wave-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%); /* Moves the wave */
    }
}

.wave path {
    fill: #fff; /* Wave color */
    /*animation: wave-up-down 2s ease-in-out infinite;*/
}

/*@keyframes wave-up-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
    }
}*/