@import url('assets/css/fonts.css');

body {
    width: auto;
    background-image: radial-gradient(99% 61.5% at 50% 89%,
    rgba(90, 102, 216, 0.62) 0%, rgba(76, 81, 191, 0) 100%),
    linear-gradient(90deg, #3182e4 0%, #398fdd 14.29%, #419bdb 28.57%,
            #4aa6db 42.86%, #53b1dd 57.14%, #5cbce0 71.43%, #6fd1e8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: RocknRollOne, serif;
    color: #ffffff;
    margin: 0;
}

header {
    background-color: white;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: ReggaeOne, serif;
    font-size: 2.5em;
    color: #3182e4;
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #3182e4;
    font-family: ReggaeOne, serif;
    font-size: 1em;
}

form input {
    background-color: transparent;
    border: 0.15em rgba(49, 130, 228, 0.8) solid;
    border-radius: 1em;
    font-family: RocknRollOne, serif;
    color: #0053bd;
    padding: 0 0.5em;
}

form input:nth-child(2) {
    cursor: pointer;
    border: none;
    font-family: ReggaeOne, serif;
    font-size: 1em;
}

.menu-button ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    padding: 0;
}

.menu-button ul li {
    justify-content: center;
    align-items: center;
}

.main-button {
    cursor: pointer;
    background-size: cover;
    background-color: transparent;
    border: none;
    font-family: ReggaeOne, serif;
    font-size: 1em;
    color: #3182e4;
}