@import url('assets/css/new-fonts.css');

body {
    width: auto;
    height: auto;
    background-image: radial-gradient(99% 61.5% at 50% 89%,
    rgba(90, 102, 216, 0.62) 0%, rgba(76, 81, 191, 0) 100%),
    linear-gradient(90deg, #3182e4 0%, #398fdd 14.29%, #419bdb 28.57%,
            #4aa6db 42.86%, #53b1dd 57.14%, #5cbce0 71.43%, #6fd1e8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: RocknRollOne, serif;
    color: #ffffff;
    margin: 0;
}

.rules {
    margin: 7% 5%;
}

h2 {
    text-align: center;
    font-family: ReggaeOne, serif;
    font-size: 1.8em;
}

ol {
    font-family: ReggaeOne, serif;
}

ol p {
    font-family: RocknRollOne, serif;
}

hr {
    border: none;
    background-color: white;
    width: 90%;
    height: 0.1em;
}

section[id='leaderboard-header'] ol {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

section[id='leaderboard-header'] ol li {
    margin: 1% 0;
}