@font-face {
    font-family: "RocknRollOne";
    src: url("RocknRollOne-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: RocknRollOne, serif;
    color: white;
    margin: 0;

}

main {
    display: flex;
}

.left {
    background-color: rgba(222, 27, 83, 0.4);
    width: 60%;
}

.right {
    background-color: rgba(27, 66, 222, 0.4);
    width: 40%;
}

.right, .left {
    /*display: inline-block;*/
    height: 77.9vh;
}

.multiplayer {
    display: none;
}

.table {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 60%;
    height: 60%;
    margin: 0 auto;
    border: 0.5em solid rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    padding: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    aspect-ratio: 1/1;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 0.6em;
    margin: 0.375em 0.2em;*/
    width: 100%;
    height: 9.09%;
    background-color: rgba(0, 0, 0, 0.5);
    /*border: 1px solid #1919707F;
    border-radius: 0.15em;*/
    cursor: default;
    font-size: 90%;
}

.position[id]:hover {
    border-color: white;
    background-color: rgba(245, 245, 245, 0.5);
}

.user-name {
    display: block;
    position: relative;
}

.p1 {
    /*transform: scale(1);
    transform-origin: top;
    position: absolute;
    top: 12%;
    right: 1%;*/
}