<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BattleShip WEB :InGame:</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Battleship game"/>
        <meta name="keywords" content="battleship, video-game, html, css, javascript"/>
        <meta name="author" content="Alex Monsalve"/>
        <meta name="robots" content="noindex,follow"/>
        <link rel="icon" sizes="16x16 32x32 64x64" href="../assets/images/boat.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="../assets/css/game-style.css" type="text/css"/>
        <link rel="stylesheet" href="../assets/css/table-style.css" type="text/css"/>
        <link rel="stylesheet" href="../assets/css/header-style.css" type="text/css"/>
        <link rel="stylesheet" href="../assets/css/footer-style.css" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>BattleShip WEB</h1>
            <nav class="menu-buttons">
                <ul>
                    <li><a class="main-button" id="home-bt" href="../index.html">Home Menu</a></li>
                    <li><a class="main-button" id="leaderboard-bt" href="../index.html">Leaderboard</a></li>
                    <li><a class="main-button" id="rules-bt" href="../index.html">Rules</a></li>
                    <li id="leave-space"></li>
                </ul>
            </nav>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
                <path d="M0,40 C150,90 350,10 600,40 C850,70 1050,10 1200,40 L1200,00 L0,0 Z"></path>
            </svg>
        </header>
        <main>
            <aside>
                <div class="ship-selection" id="ship-side">
                    <div>
                        <section class="ship-warehouse">
                            <h2>Move the ships to the desired position</h2>
                            <img class="ship" id="carrier" src="../assets/images/carrier.png" alt="carrier"/>
                            <img class="ship" id="battleship" src="../assets/images/battleship.png" alt="battleship"/>
                            <img class="ship" id="cruiser" src="../assets/images/cruiser.png" alt="cruiser"/>
                            <img class="ship" id="submarine" src="../assets/images/submarine.png" alt="submarine"/>
                            <img class="ship" id="destroyer" src="../assets/images/destroyer.png" alt="destroyer"/>
                        </section>
                        <section class="player-ready">
                            <h2>Multiplayer controls</h2>
                            <button class="start-game server-operation" id="ready">Ready</button>
                            <form id="user" action="#" method="POST">
                                <p>Insert your username:</p>
                                <div class="username">
                                    <label for="username">
                                        <input id="username" name="username" type="text" placeholder="User1234" required />
                                    </label>
                                    <button type="button" id="submit-user" class="server-operation">Submit</button>
                                </div>
                            </form>
                            <div id="options">
                                <div id="main-options">
                                    <button id="create-game" class="server-operation">Create ID</button>
                                    <button id="send-ships" class="server-operation">Send your fleet</button>
                                    <button id="leave-game" class="server-operation">Leave game!</button>
                                    <button id="close-connection" class="client-operation">Close connection</button>
                                    <button id="tournament-mode" class="client-operation">Enable Tournament</button>
                                </div>
                                <div class="multiplayer-game">
                                    <label for="game-id">
                                        <input name="game-id" type="text" id="game-id" placeholder="Game ID" />
                                    </label>
                                    <button id="join-game" class="server-operation">Join game</button>
                                </div>
                                <div id="messages"></div>
                            </div>
                        </section>
                        <div id="tournament-options" hidden>
                            <button id="create-lobby">Create Tournament Lobby</button>
                            <label for="lobby-id">
                                <input name="lobby-id" type="text" id="lobby-id" placeholder="Lobby ID" />
                            </label>
                            <button id="join-lobby">Join Tournament Lobby</button>
                            <button id="ready-lobby">Ready for tournament</button>
                        </div>
                    </div>
                </div>
            </aside>
            <section id="turn-ui">
                <h2>Actual Turn:</h2>
                <p id="turn-user">Someone</p>
                <h3>Timer:</h3>
                <p id="turn-time">0</p>
            </section>
            <div class="game-side">
                <div id="opponents-space">
                </div>
            </div>
            <div class="user-side">
                <span id="user-name">You</span>
                <span class="user-points">Total Points : <span id="total-points">000</span></span>
                <div class="table p1" id="player-space"></div>
                <aside class="powerup-list">
                    <h2>Power-Ups</h2>
                    <ul>
                        <li><a href="#"><button class="powerup-bt" id="sonar">Sonar</button></a>
                            <span>5 points</span>
                        </li>
                        <li><a href="#"><button class="powerup-bt" id="attack-aircraft">Attack Aircraft</button></a>
                            <span>10 points</span>
                        </li>
                        <li><a href="#"><button class="powerup-bt" id="sea-mine">Sea Mine</button></a>
                            <span>5 points</span>
                        </li>
                        <li><a href="#"><button class="powerup-bt" id="defensive-shield">Defensive Shield</button></a>
                            <span>15 points</span>
                        </li>
                        <li><a href="#"><button class="powerup-bt" id="cruise-missile">Cruise Missile</button></a>
                            <span>15 points</span>
                        </li>
                        <li><a href="#"><button class="powerup-bt" id="quick-repair">Quick Repair</button></a>
                            <span>10 points</span>
                        </li>
                        <li><a href="#"><button class="powerup-bt" id="emp-attack">EMP Attack</button></a>
                            <span>25 points</span>
                        </li>
                    </ul>
                </aside>
            </div>
        </main>
        <footer>
            <p>No Copyright - <a href="https://www.ucab.edu.ve/">ucab.edu.ve</a></p>
            <p>by Alex Monsalve & Alessandro Ventresca.</p>
            <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
                <path d="M0,40 C150,90 350,10 600,40 C850,70 1050,10 1200,40 L1200,00 L0,0 Z"></path>
            </svg>
            <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none" style="left: 200vw;">
                <path d="M0,40 C150,90 350,10 600,40 C850,70 1050,10 1200,40 L1200,00 L0,0 Z"></path>
            </svg>
        </footer>
        <script src="../functionality/game.js" type="module"></script>
        <script src="../functionality/connection.js" type="module"></script>
    </body>
</html>