@import url('fonts.css');

body {
    width: auto;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: RocknRollOne, serif;
    color: white;
    margin: 0;
}

main {
    display: flex;
    overflow: hidden;
}

.game-side {
    /*background-color: rgba(222, 27, 83, 0.4);*/
    width: 60%;
}

.user-side {
    /*background-color: rgba(27, 66, 222, 0.4);*/
    width: 40%;
}

.user-side, .game-side {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 70vh;
}

.multiplayer {
    display: none;
}

.user-name ,.user-points ,.p2-name {
    position: absolute;
    font-size: 130%;
    font-family: ReggaeOne, serif;
}

.user-name {
    left: 20%;
}

.user-points {
    right: 15%;
}

.p2-name {
    left: 50%;
}

section[id='turn-ui'] {
    position: absolute;
    left: 5%;
    z-index: 1;
}

section[id='turn-ui'] h2 {
    font-family: ReggaeOne, serif;
    margin-bottom: 0;
}

.turn-list {
    margin-top: 0;
}

.powerup-list ul{
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.powerup-bt {
    font-family: RocknRollOne, serif;
    background-color: rgba(12, 27, 121, 0.25);
    color: white;
    border: 0;
    border-radius: 0 1em 0 1em;
}

.powerup-bt:hover {
    background-color: rgba(49, 59, 115, 0.8);
}