@import url('fonts.css');

body {
    width: auto;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: RocknRollOne, serif;
    color: white;
    margin: 0;
}

main {
    display: flex;
    overflow: hidden;
}

.user-side, .game-side {
    display: flex;
    position: relative;
    height: 70vh;
}

.game-side {
    flex-direction: row;
    width: 60%;
}

.player-container {
    position: relative;
    height: 70vh;
}

.player-container:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.player-container:nth-child(2) {
    display: none;
    flex-direction: column;
    width: 50%;
}

.player-container:nth-child(3) {
    display: none;
    flex-direction: column;
    width: 50%;
}

.user-side {
    flex-direction: column;
    width: 40%;
}

#user-name ,.user-points ,#p2-name,
#p3-name, #p4-name {
    position: absolute;
    font-size: 130%;
    font-family: ReggaeOne, serif;
}

#user-name {
    left: 20%;
}

.user-points {
    right: 15%;
}

#p2-name {
    left: 50%;
}

#p3-name {
    left: 50%;
}

#p4-name {
    display: none;
    left: 50%;
}

#turn-ui {
    position: absolute;
    left: 55%;
    z-index: 1;
}

#turn-ui h2 {
    font-family: ReggaeOne, serif;
    margin-bottom: 0;
}

.turn-list {
    margin-top: 0;
}

#turn-p3 {
    display: none;
}

#turn-p4 {
    display: none;
}

.ship-selection {
    position: absolute;
    display: flex;      /*Display will change to flex to be visible*/
    flex-direction: row;
    top: 20%;
    left: 12.5%;
    width: 75%;
    height: 65%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1em;
    color: #3182e4;
    z-index: 2;
}

.ship-selection div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 50%;
    text-align: center;
}

.ship-selection>div:nth-child(2) {
    width: 50%;
    height: 80%;
    margin: 0;
    padding: 0 5%;
}

.ship {
    margin: 0;
    padding: 0;
    z-index: 3;
    pointer-events: auto;
    cursor: grab;
}

#carrier {
    max-width: 15rem;
}

#battleship {
    max-width: 12rem;
}

#cruiser {
    max-width: 9rem;
}

#submarine {
    max-width: 9rem;
}

#destroyer {
    max-width: 6rem;
}

.ship:active {
    cursor: grabbing;
}

.powerup-list ul{
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.powerup-bt {
    font-family: RocknRollOne, serif;
    background-color: rgba(12, 27, 121, 0.25);
    color: white;
    border: 0;
    border-radius: 0 1em 0 1em;
}

.powerup-bt:hover {
    background-color: rgba(49, 59, 115, 0.8);
}