@import url('assets/css/fonts.css');

header {
    position: relative;
    background-color: white;
    margin-bottom: 5%;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: ReggaeOne, serif;
    font-size: 2.5em;
    color: #3182e4;
}

form {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #3182e4;
    font-family: ReggaeOne, serif;
    font-size: 1em;
}

form input {
    background-color: transparent;
    border: 0.15em transparent solid;
    border-bottom-color: rgba(49, 130, 228, 0.8);
    outline: none;
    font-family: RocknRollOne, serif;
    color: #0053bd;
    padding: 0 0.5em;
}

form input[type='text']:focus {
    border-bottom-color: #075fd0;
}

form input:nth-child(2) {
    margin-left: 1%;
    cursor: pointer;
    border: none;
    font-family: ReggaeOne, serif;
    font-size: 1em;
    padding: 0 0.3em;
}

form input:nth-child(2):hover {
    color: #0e1ccc;
    transform: scale(110%);
}

.menu-button ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

.menu-button ul li {
    justify-content: center;
    align-items: center;
}

.main-button {
    text-align: center;
    cursor: pointer;
    background-size: cover;
    background-color: transparent;
    border: none;
    font-family: ReggaeOne, serif;
    font-size: 1em;
    color: #3182e4;
}

.main-button:hover {
    color: #22b2ff;
    transform: scaleX(110%) translateY(10%);
}

svg {
    position: absolute;
    z-index: -1;
}

svg path {
    fill: #fff;
}