.table {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, auto);
    width: 60%;
    height: 60%;
    margin: 0;
    margin-top: 2em;
    padding: 0;
    gap: 0.3%;
    backdrop-filter: blur(3px);
    position: relative;
    align-self: center;
}

.table.p2 {
    height: 85%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 90%;
}

.cell[id] {
    background-color: rgba(1, 68, 173, 0.2);
    border-radius: 20%;
    cursor: pointer;
}

.p2 .cell[id] {
   background-color: rgba(30, 0, 79, 0.25);
}

.cell[id]:hover {
    background-color: rgba(245, 245, 245, 0.5);
}